cache
IMLP/cache
__pycache__
DL/Kaggle/data/images
t10k-images-idx3-ubyte.gz
t10k-labels-idx1-ubyte.gz
train-images-idx3-ubyte.gz
train-labels-idx1-ubyte.gz
mnist.pkl
housing.tgz
catboost_info
models
model
video_data
Kaggle/Possom/data
Kaggle/DiscountPrediction/data
Rice_Image_Dataset
output
testGradio